/* .aside-bar-container {
    display: flex;
    background-color: #FAFAFA;
} */

.aside-bar {
    width: 400px;
    height: 100vh;
    background-color: #ffffff;
    /* background-color:rgba(126, 172, 157, 0.637); */
    margin-right: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: all .7s;
    /* align-items: center;
    justify-content: center; */
    box-shadow: 0px 4px 18px 0px #0000001A;
    /* position: fixed; */
    overflow: hidden;
}

.hide {
    width: 7rem;
    transition: all .7s;
}

.sideBarList {
    transition: all 0.3s;
}

.sideBarList:hover {
    transform: translateX(10px);
}

.aside-bar.open {
    width: 400px;
    max-width: 400px;
}

.toggle-button {
    background: none;
    border: none;
    color: #a22e2e;
    font-size: 1.5rem;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.content .menu-title {
    font-size: 12px;
    font-weight: 400;
    color: #838383;
}

@media only screen and (max-width: 1024px) {
    .aside-bar-container {
        z-index: 100;
       position: fixed;
       left: 0;
       top: 0;
       bottom: 0;
       
    }
    .hide{
        transition: all .7s;
        width: 0;
    }
}