/* .aside-bar-container {
    display: flex;
    background-color: #FAFAFA;
} */

.aside-bar {
    width: 350px;
    height: 100vh;
    background-color: #ffffff;
    /* background-color:rgba(126, 172, 157, 0.637); */
    margin-right: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: all .7s;
    /* align-items: center;
    justify-content: center; */
    box-shadow: 0px 4px 18px 0px #0000001A;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

.margin-right {
    margin-right: 23rem;
    transition: all .7s;

}

.expandable:hover {
    width: 400px;
    height: 100vh;
    background-color: #ffffff;
    /* background-color:rgba(126, 172, 157, 0.637); */
    margin-right: 2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: all .7s;
    /* align-items: center;
    justify-content: center; */
    box-shadow: 0px 4px 18px 0px #0000001A;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

.margin-right-not {
    margin-right: 8rem;
    transition: all .7s;
}

.hide {
    width: 7rem;
    transition: all .7s;
}

.sideBarList {
    transition: all 0.3s;
}

.sideBarList:hover {
    transform: translateX(10px);
}

.aside-bar.open {
    width: 400px;
    max-width: 400px;
}

.toggle-button {
    background: none;
    border: none;
    color: #a22e2e;
    font-size: 1.5rem;
    cursor: pointer;
}

.content {
    padding: 15px;
}

.content .menu-title {
    font-size: 12px;
    font-weight: 400;
    color: #838383;
}

.end-profile-section-sidebar {

    /* background-color: #a22e2e; */
    color: #4D8EFF;
    position: absolute;
    bottom: 0rem;
    /* left: 2rem; */
    width: 100%;
    border-top: 0.5px solid #B8B8B8
}

.profile-name {
    font-size: 20px;
    font-weight: 400;
    color: #1D1D17;

}

.profile-short-name {
    font-size: 14px;
    font-weight: 400;
    color: #C4C4C4;

}

.profile-image-section {
    width: 57px;
    height: 57px;
    border: 4px solid #4D8EFF;
    border-radius: 50%;
    padding: 2px;

}

.profile-image-section img {
    height: 100%;
    width: 100%;
}

.status-profile {
    background-color: #EDF4FF;
    border-radius: 10px;
}

.complete-percentage {
    font-size: 16px;
    font-weight: 600;
}

.complete-profile-setup {
    font-size: 11px;
    font-weight: 400;
    color: #838383;

}

@media only screen and (max-width: 1200px) {
    .aside-bar-container {
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        /* background-color: #a22e2e; */
    }

    .hide {
        transition: all .7s;
        width: 0;
    }
}